<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/static/assets_V3/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="/static/assets/css/button.css" rel="stylesheet">
    
    <!-- Bootstrap core CSS     -->
    <link href="/static/assets_V3/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/assets_V3/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/assets_V3/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets_V3/css/demo.css" rel="stylesheet" />
    <link href="/static/assets/css/dropzone.css" rel="stylesheet">



    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="/static/assets_V3/css/max.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets_V3/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/static/assets_V3/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Detector
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/dashboard/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/profile/">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/history/">
                        <i class="pe-7s-note2"></i>
                        <p>History Record</p>
                    </a>
                </li>
                
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a>
                               {{username}}
                            </a>
                        </li>
                        <li>
                            <a href="/logout/">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header">
                            <h4 class="title title-center">Upload file</h4>
                        </div>
                        <div>
                            <form  class = "dropzone" id = "myAwesomeDropzone"></form>
                        </div>
                        <div id = "button-action">
                                <div class="button button-pill button-primary button-large" id = "jump">Go</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoading"></div>

</body>

    <!--   Core JS Files   -->
    <script src="/static/assets_V3/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/static/assets_V3/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/static/assets_V3/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="/static/assets_V3/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/assets_V3/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/assets_V3/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/static/assets_V3/js/demo.js"></script>
    <script type="text/javascript" src = "/static/assets/js/dropzone.js"></script>
	<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Welcome to <b>Detector Dashboard</b> - a powerful performance analysis tool."

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script>
    <script>
        $(document).ready(function() {
            $("#jump").click(function(e) {
                e.preventDefault();
                var data = {
                    'foo': 'bar'
                }
                $("div#divLoading").addClass('show');
                $.ajax({
                    "type": "POST",
                    "dataType": "json",
                    "url": "/execute/",
                    "data": data,
                    "success": function(result) {
                        $("#loading_image").hide();
                        if(result.status == 200){
                            window.location = "/result/";
                        }
                        else if(result.status == 400)
                        {
                            window.location = '/error/400';
                        }
                        else if (result.status == 401)
                        {
                            window.location = '/error/401';
                        }
                        else if (result.status == 500)
                        {
                            window.location = '/error/500';
                        }

                    },
                    "error" : function(xhr, errmsg, err){
                        $("#loading_image").hide();
                        window.location = '/error/500';
                    }
                });
            });
        });
    </script>

</html>
