<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/static/assets_V3/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Result</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="/static/assets/css/button.css" rel="stylesheet">

    <!-- Bootstrap core CSS     -->
    <link href="/static/assets_V3/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/assets_V3/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/assets_V3/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets_V3/css/demo.css" rel="stylesheet" />

    <!-- table-->
    <link href="/static/assets_table/css/fresh-bootstrap-table.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="/static/assets_V3/css/max.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets_V3/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/assets_V3/css/scojs.css">


</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/static/assets_V3/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Detector
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/dashboard/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/profile/">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/history/">
                        <i class="pe-7s-note2"></i>
                        <p>History List</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/result/">
                        <i class="pe-7s-science"></i>
                        <p>Analysis Result</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a>
                               {{username}}
                            </a>
                        </li>
                        <li>
                            <a href="/logout/">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <!-- process file -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="header">
                            <h4 class="title" style = "text-align:center">Hot Spots Comparison</h4>
                        </div>
                        <div id = "hotspot_comparison_div"></div>
                    </div>
                </div>

                <br>
                
                <!-- hot spot statistic -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="fresh-table">
                    <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                            Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                    -->
                        <div class="toolbar">
                            <button id="alertBtn1" class="btn btn-default">Hot Spot Comparison</button>
                        </div>

                        <table id="fresh-table1" class="table">
                            <thead>
                                <th data-field="name" data-sortable="true">Hot Spot</th>
                                <th data-field="score_{{compare_record.file_list.0.name}}" data-sortable="true">
                                    {{baseline_record.file_list.0.name}}(Baseline)
                                    <br/>
                                    (Score, Response Time)
                                </th>
                                <th data-field="score_{{target_record.file_list.0.name}}" data-sortable="true">
                                    {{target_record.file_list.0.name}}(Target)
                                    <br/>
                                    (Score, Response Time)
                                </th>
                                <th>
                                    GR(%)
                                    <br/>
                                    (Score, Response Time)
                                </th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                                {%for itm in response_data_function_level%}
                                <tr>
                                    <td>{{itm.function_name}}</td>
                                    <td>
                                        {{itm.baseline_score}}
                                        <br/>
                                        {{itm.baseline_response_time}}(ms)
                                    </td>
                                    <td>
                                        {{itm.target_score}}
                                        <br/>
                                        {{itm.target_response_time}}(ms)
                                    </td>
                                    <td>
                                        ({{itm.GR_score}}%)
                                        <br/>
                                        ({{itm.GR_response_time}}%)
                                    </td>
                                    <td>{{itm.status}}</td>
                                </tr> 
                                {%endfor%}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>  

                <br/>

                <!-- services statistic -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="fresh-table">
                    <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                            Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                    -->
                        <div class="toolbar2">
                            <button id="alertBtn2" class="btn btn-default">Services Comparison</button>
                        </div>

                        <table id="fresh-table2" class="table">
                            <thead>
                                <th data-field="name" data-sortable="true">Web Services</th>
                                <th data-field="score_{{compare_record.file_list.0.name}}" data-sortable="true">
                                    {{baseline_record.file_list.0.name}}(Baseline)
                                    <br/>
                                    (Hot Spot, Response Time)
                                </th>
                                <th data-field="score_{{target_record.file_list.0.name}}" data-sortable="true">
                                    {{target_record.file_list.0.name}}(Target)
                                    <br/>
                                    (Hot Spot, Response Time)
                                </th>
                                <th>
                                    GR(%)
                                    <br/>
                                    (Hot Spot, Response Time)
                                </th>
                                <th data-field="actions" data-events="operateEvents2">Actions</th>
                                <th data-field="service_full_name" data-visible="false"></th>
                            </thead>
                            <tbody>
                                {%for itm in response_data_service_level%}
                                <tr>
                                    <td>
                                        <!-- service name -->
                                        {{itm.target_service.service.0}}
                                        <br/>
                                        {{itm.target_service.service.1}}
                                    </td>
                                    <td>
                                        <!-- compare record service's hot_spot -->
                                        {%for hot_spot in itm.baseline_service.hot_spot%}
                                        {{hot_spot.method_name}} ({{hot_spot.percentage}}%)
                                        <br/>
                                        {%endfor%}
                                        {{itm.baseline_service.response_time}}(ms)
                                    </td>
                                    <td>
                                        <!-- target record service's hot_spot -->
                                        {%for hot_spot in itm.target_service.hot_spot%}
                                        ({{hot_spot.percentage}}%)
                                        <br/>
                                        {%endfor%}
                                        {{itm.target_service.response_time}}(ms)
                                    </td>
                                    <td>
                                        <!-- GR -->
                                        {%for hot_spot in itm.target_service.hot_spot%}
                                        ({{hot_spot.GR}}%)
                                        <br/>
                                        {%endfor%}
                                        ({{itm.GR_response_time}}%)
                                    </td>
                                    <td>
                                        <a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">
                                        <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>{{itm.target_service.service_full}}</td>
                                </tr> 
                                {%endfor%}
                            </tbody>
                        </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>

    <!--   Core JS Files   -->
    <script type="text/javascript" src="/static/assets_table/js/jquery-1.11.2.min.js"></script>
	<script src="/static/assets_V3/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/assets_V3/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/static/assets_V3/js/demo.js"></script>

    <script type="text/javascript" src="/static/assets_table/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/assets_table/js/bootstrap-table.js"></script>

    <script src="/static/assets_V3/js/amcharts.js"></script>
    <script src="/static/assets_V3/js/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.js"></script>
    <script src="/static/chart/Chart.js"></script> 
    <script type="text/javascript" src="/static/assets_V2/js/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="/static/assets_V3/js/sco.modal.js"></script>
    <script type="text/javascript">
        var $table = $('#fresh-table1'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",
                search: true,
                showRefresh: true,
                showToggle: true,
                pagination: true,
                showColumns: true,
                striped: true,
                pageSize: 8,
                pageList: [8,10,25,50,100],

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

            $table.bootstrapTable('refreshOptions', {
                exportDataType: "1"
            });
        });
        
        var $table2 = $('#fresh-table2'),
            full_screen = false;

        $().ready(function(){
            $table2.bootstrapTable({
                toolbar: ".toolbar2",
                showRefresh: true,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 8,
                pageList: [8,10,25,50,100],

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });
        });
        window.operateEvents2 = {                
                'click .edit': function (e, value, row, index) {
                    window.document.location = "/comparison_service_detail/" + row['service_full_name'] + "/{{target_date}}/{{baseline_date}}/";
                },
        };
    </script>
    <script type="text/javascript">
        var dataProvider = [];
        {%for itm in top_10_hot_spot%}
            var baseline_score = {{itm.baseline_score}} * -1;
            var temp = {
                "method_name" : "{{itm.function_name}}",
                "compare" : baseline_score,
                "target" : {{itm.target_score}}
            }
            dataProvider.push(temp);
        {%endfor%}
        $().ready(function(){
            AmCharts.makeChart("hotspot_comparison_div", {
              "type": "serial",
              "theme": "light",
              "rotate": true,
              "marginBottom": 50,
              "dataProvider": dataProvider, 
              "startDuration": 1,
              "graphs": [{
                "fillAlphas": 0.8,
                "lineAlpha": 0.2,
                "type": "column",
                "valueField": "compare",
                "title": "Baseline Record",
                "labelText": "[[value]]",
                "clustered": false,
                "labelFunction": function(item) {
                  return Math.abs(item.values.value);
                },
                "balloonFunction": function(item) {
                  return item.category + ": " + Math.abs(item.values.value);
                },
              }, {
                "fillAlphas": 0.8,
                "lineAlpha": 0.2,
                "type": "column",
                "valueField": "target",

                "title": "Target Record",
                "labelText": "[[value]]",
                "clustered": false,
                "labelFunction": function(item) {
                  return Math.abs(item.values.value);
                },
                "balloonFunction": function(item) {
                  return item.category + ": " + Math.abs(item.values.value);
                },
              }],
              "categoryField": "method_name",
              "categoryAxis": {
                "gridPosition": "middle",
                "gridAlpha": 0.2,
                "axisAlpha": 0,
                "labelsEnabled": false,
              },
              "valueAxes": [{
                "gridAlpha": 0,
                "ignoreAxisWidth": true,
                "labelFunction": function(value) {
                  return Math.abs(value);
                },
                "guides": [{
                  "value": 0,
                  "lineAlpha": 0.2
                }]
              }],
              "balloon": {
                "fixedPosition": true,
                "maxWidth": 400
              },
              "chartCursor": {
                "valueBalloonsEnabled": false,
                "cursorAlpha": 0.05,
                "fullWidth": true
              },
              "allLabels": [{
                "text": "Baseline Record",
                "x": "28%",
                "y": "97%",
                "bold": true,
                "align": "middle"
              }, {
                "text": "Target Record",
                "x": "75%",
                "y": "97%",
                "bold": true,
                "align": "middle"
              }], 
            });
        });
    </script>

</html>
