<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/static/assets_V3/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Result</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="/static/assets/css/button.css" rel="stylesheet">

    <!-- Bootstrap core CSS     -->
    <link href="/static/assets_V3/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/assets_V3/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/assets_V3/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets_V3/css/demo.css" rel="stylesheet" />

    <!-- table-->
    <link href="/static/assets_table/css/fresh-bootstrap-table.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/assets_V3/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/static/assets_V3/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Detector
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/dashboard/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/profile/">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/history/">
                        <i class="pe-7s-note2"></i>
                        <p>History List</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Trace Compare</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/result/">
                        <i class="pe-7s-science"></i>
                        <p>Analysis Result</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a>
                               {{username}}
                            </a>
                        </li>
                        <li>
                            <a href="/logout/">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <!-- process file -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="header">
                            <h4 class="title" style = "text-align:center">Top 5 functions Bar chart</h4>
                        </div>
                        <div style="width: 100%">
                            <canvas id="canvas1" height="130"></canvas>
                        </div>
                    </div>
                </div>

                <br>
                
                <!-- hot spot statistic -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="fresh-table">
                    <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                            Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                    -->
                        <div class="toolbar">
                            <button id="alertBtn1" class="btn btn-default">Hot Spot Comparison</button>
                        </div>

                        <table id="fresh-table1" class="table">
                            <thead>
                                <th data-field="name" data-sortable="true">Name</th>
                                {%for itm in record_contents%}
                                <th data-field="score_{{itm.date}}" data-sortable="true">{{itm.date}}</th>
                                {%endfor%}
                                <th>Status</th>
                            </thead>
                            <tbody>
                                {%for itm in all_functions%}
                                <tr>
                                    <td>{{itm.function_name}}</td>
                                    {%for s in itm.score%}
                                        <td>{{s}}</td>
                                    {%endfor%}
                                    <td>{{itm.status}}</td>
                                </tr> 
                                {%endfor%}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
</body>

    <!--   Core JS Files   -->
    <script type="text/javascript" src="/static/assets_table/js/jquery-1.11.2.min.js"></script>
	<script src="/static/assets_V3/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/assets_V3/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/static/assets_V3/js/demo.js"></script>

    <script type="text/javascript" src="/static/assets_table/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/assets_table/js/bootstrap-table.js"></script>

    <!-- export plugin js>
    <script type="text/javascript" src="/static/table_export_plugin/libs/FileSaver/FileSaver.min.js"></script>
    <script type="text/javascript" src="/static/table_export_plugin/libs/jsPDF/jspdf.min.js"></script>
    <script type="text/javascript" src="/static/table_export_plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" src="/static/table_export_plugin/libs/html2canvas/html2canvas.min.js"></script>
    <script type="text/javascript" src="/static/table_export_plugin/tableExport.min.js"></script>
    <-->

    <script src="/static/assets_V3/js/amcharts.js"></script>
    <script src="/static/assets_V3/js/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.js"></script>
    <script src="/static/chart/Chart.js"></script>
    <script src="/static/sco_js/js/sco.modal.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });
      });
    </script>  
    <script type="text/javascript">
        var $table = $('#fresh-table1'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",
                search: true,
                showRefresh: true,
                showToggle: true,
                pagination: true,
                showColumns: true,
                striped: true,
                pageSize: 8,
                pageList: [8,10,25,50,100],

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

            $table.bootstrapTable('refreshOptions', {
                exportDataType: "1"
            });
        });
        
        var $table2 = $('#fresh-table2'),
            full_screen = false;

        $().ready(function(){
            $table2.bootstrapTable({
                toolbar: ".toolbar2",
                showRefresh: true,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 8,
                pageList: [8,10,25,50,100],

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });
            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });
        });
    </script>
    <script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

    var all_colors = [];
    all_colors.push(
    {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,0.8)",
        highlightFill: "rgba(220,220,220,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
    });
    all_colors.push(
    {
        fillColor : "rgba(149,220,187,0.5)",
        strokeColor : "rgba(220,220,220,0.8)",
        highlightFill: "rgba(220,220,220,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
    });
    all_colors.push(
    {
        fillColor : "rgba(149,167,187,0.5)",
        strokeColor : "rgba(220,220,220,0.8)",
        highlightFill: "rgba(220,220,220,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
    });
    all_colors.push(
    {
        fillColor : "rgba(149,98,187,0.5)",
        strokeColor : "rgba(220,220,220,0.8)",
        highlightFill: "rgba(220,220,220,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
    });
    all_colors.push(
    {
        fillColor : "rgba(220,220,220,0.5)",
        strokeColor : "rgba(220,220,220,0.8)",
        highlightFill: "rgba(220,220,220,0.75)",
        highlightStroke: "rgba(220,220,220,1)",
    });
    all_colors.push(
    {
        fillColor : "rgba(151,187,205,0.5)",
        strokeColor : "rgba(151,187,205,0.8)",
        highlightFill : "rgba(151,187,205,0.75)",
        highlightStroke : "rgba(151,187,205,1)",
    });
    var all_labels = [];
    var all_datasets_bar = [];
    var all_datasets_rader = [];
    var count = 0;
    
    {%for itm in top_five_template_with_shorten_name%}
        all_labels.push("{{itm.0}}");
    {%endfor%}
    {%for itm in top_five_date%}
        all_datasets_bar.push(
        {
            fillColor: all_colors[count]['fillColor'],
            strokeColor : all_colors[count]['strokeColor'],
            highlightFill : all_colors[count]['highlightFill'],
            HighlightStroke : all_colors[count]['highlightStroke'],
            data: {{itm.score}}
        });
        count += 1;
    {%endfor%}
    var barChartData = {
        labels : all_labels,
        datasets: all_datasets_bar
    }
    window.onload = function(){
        var ctx = document.getElementById("canvas1").getContext("2d");
        window.myBar = new Chart(ctx).Bar(barChartData, {
            responsive : true
        });
    }
    </script>
</html>
